In [24]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import time
import os

NASA Mars News

In [25]:
executable_path = {"executable_path":'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

In [26]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [27]:
html = browser.html
soup = bs(html,'html.parser')

In [28]:
news_title = soup.find('div',class_='content_title').text
news_paragraph = soup.find('div', class_='article_teaser_body').text
print(f'Title = {news_title}')
print(f'Para = {news_paragraph}')

Title = Mars Now
Para = In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.

JPL Mars Space Images - Featured Image

In [29]:
url_image    = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit'
browser.visit(url_image)

In [31]:
html_image = browser.html
soup = bs(html_image, "html.parser")
image_url = soup.find("img", class_="thumb")["src"]
featured_image_url = 'https://www.jpl.nasa.gov/' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23436-640x350.jpg

Mars Weather

In [32]:
url_weather  = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_weather)

In [33]:
html_weather  = browser.html
soup = bs(html_weather, 'html.parser')

In [34]:
mars_weather = soup.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').text 
print(f'mars_weather= {mars_weather}')

mars_weather= InSight sol 594 (2020-07-28) low -91.8ºC (-133.2ºF) high -16.6ºC (2.2ºF)
winds from the WNW at 8.0 m/s (17.8 mph) gusting to 20.7 m/s (46.4 mph)
pressure at 7.90 hPa

Mars Facts

In [35]:
url_facts  = 'https://space-facts.com/mars/'
table  = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
df_mars_facts = table[0]
df_mars_facts.columns = ['Parameter', 'Values']
df_mars_facts.set_index(['Parameter'])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [37]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [38]:
url_hemisphere  = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemisphere)

In [39]:
html_hemispheres = browser.html

soup = bs(html_hemispheres, 'html.parser')

items = soup.find_all('div', class_='item')
 
hemisphere_image_urls = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for i in items: 
  
    title = i.find('h3').text
    
    
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
     
    browser.visit(hemispheres_main_url + partial_img_url)
    
    partial_img_html = browser.html
    
    soup = bs( partial_img_html, 'html.parser')

    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
 
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]